<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>

    <div class="f-info-brand">&copy; <%= new Date().getFullYear() %> Solodo Private Limited</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms & Conditions</a>
    </div>
  </div>
</footer>
